html{
    background-image: url(../img/pf3YhJ.jpg);
    

}

a{
    text-decoration: none;
    font-style: normal;
}

body{
    font-size: 10px;
    padding-left: 0%;
    padding-right: 0%;
    
    margin-left: 10%;  
    margin-right: 10%;

    background-color:#f4f4f4; 
    font-family:Arial, Helvetica, sans-serif;


}

.haiku{
    font-style:italic;
    padding-left:10%;
    font-size: 8
}

ol{
    font-style:italic;
}

table, th, td{
    border: 1px solid black;
    
}


#paddingForbody{
    padding:15px 1px 15px 15px;
}


.mainBody{
    padding: 5px;
}


.headLine{
    background-color: #3f59a8;
    color:#f4f4f4;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px 5px 10px 10px;
    font-weight:normal;
    font-size: 5px;
    text-align: left;

    
    
    
}
#profilePic{
    height: 200px;
}

#imgContainer{
    text-align:center;
    display : block;
}

.headLine h1{
    font-weight: normal;
    padding:0px;
    margin-bottom:10px;
    margin-top: 10px;
    font-size:24pt;
}

.headLine h3{
    
    font-weight: normal;
    border-bottom:2px solid;
    width:200px;
    font-size:10pt;
    margin-bottom:10px
}

.headerTemplate{
    font-weight:bolder;
    font-size:15pt;
    color:#3f59a8;
    border-bottom: 2px solid;
    margin-top: 10px;
    margin-bottom: 15px;
    padding:10px 10px 0px 1px;
    width:98%;
    text-transform:uppercase;
}

.contact{
    font-size:8pt;
    overflow-wrap: break-word;
}


.littleBlue{
    padding-top:5px;
    font-size: 6pt;
    font-style: italic;
    color:#3f59a8;
    

}

.bigBlue{
    font-weight: bold;
    font-size: 8pt;
    color:#3f59a8;
}

.underBigblue{
    font-size:10pt;
    font-weight: normal;
}

.rightColumn li{
    font-size: 10pt;
    padding: 0px 5px 0px 0px;
    float:left;

}

#courseList li{
    padding: 0px 5px 0px 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    float:left;
    display:flex;
    width:250px
}

.floatRight{
    float:right;
    display:inline-flex;
    padding-right:60px;
}

.floatLeft{
    float:left;
    display:inline-flex;
}

