a{
    text-decoration: none;
    display:flex;
    float:left;

    padding:5px;
    background-color:#3f59a8;
    margin:7px;
    color:#f4f4f4;
    border-radius:5px;
    font-size:10pt;
}

body{
    padding-left: 10%;
    padding-right: 10%;
    margin:30px;  
    background-color:#f4f4f4; 
    font-family:Arial, Helvetica, sans-serif;
    max-width: 900px;
    max-height: 100000px;

}

ul{
    padding:0;
    display:inline-block;
    margin-top:0px;
    list-style:none;
}

#paddingForbody{
    padding:15px 1px 15px 15px;
}

.leftColumn{
    float:left;
    width:20%;
    padding-right:3%;
}

.rightColumn{
    float:right;
    width:77%;
}


.headLine{
    background-color: #3f59a8;
    color:#f4f4f4;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px 10px 15px 15px;
    font-weight:normal;
    font-size:10pt;
    
    
}

.headLine h1{
    font-weight: normal;
    padding:0px;
    margin-bottom:-20px;
    margin-top: 10px;
    font-size:24pt;
}

.headLine h3{
    
    font-weight: normal;
    border-bottom:2px solid;
    width:200px;
    font-size:14pt;
    margin-bottom:10px
}

.headerTemplate{
    font-weight:bolder;
    font-size:15pt;
    color:#3f59a8;
    border-bottom: 2px solid;
    margin-top: 10px;
    margin-bottom: 15px;
    padding:10px 10px 0px 1px;
    width:90%;
    text-transform:uppercase;
}

.contact{
    font-size:10pt;
    overflow-wrap: break-word;
}

.skillBox{
    display:flex;
    float:left;
    padding:5px;
    background-color:#3f59a8;
    margin:7px;
    color:#f4f4f4;
    border-radius:5px;
    font-size:10pt;
}

.interestBox{
    display:flex;
    float:left;
    padding:5px;
    border: 1px #3f59a8 solid;
    margin:7px;
    border-radius:5px;
    font-size:10pt;
}

.littleBlue{
    padding-top:5px;
    font-size: 8pt;
    font-style: italic;
    color:#3f59a8;
    

}

.bigBlue{
    font-weight: bold;
    font-size: 14pt;
    color:#3f59a8;
}

.underBigblue{
    font-size:15pt;
    font-weight: normal;
}

.rightColumn li{
    font-size: 10pt;
    padding: 0px 5px 0px 0px;
    float:left;

}

#courseList li{
    padding: 0px 5px 0px 0px;
    padding-bottom: 0px;
    padding-right: 50px;
    float:left;
    display:flex;
    width:250px
}

.floatRight{
    float:right;
    display:inline-flex;
    padding-right:60px;
}

.floatLeft{
    float:left;
    display:inline-flex;
}

